<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <!--<title>Bodo</title>-->
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Bodo - Simple One Page Personal" name="description">
  <meta content="BdgPixel" name="author">
  <!--Fav-->
  <link href="../src/assets/images/home/favicon.ico" rel="shortcut icon">

  <!--styles-->
  <link href="../src/assets/css/home/bootstrap.min.css" rel="stylesheet">
  <link href="../src/assets/css/home/owl.carousel.css" rel="stylesheet">
  <link href="../src/assets/css/home/owl.theme.css" rel="stylesheet">
  <link href="../src/assets/css/home/magnific-popup.css" rel="stylesheet">
  <link href="../src/assets/css/home/style.css" rel="stylesheet">
  <link href="../src/assets/css/home/responsive.css" rel="stylesheet">

  <!--fonts google-->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="../src/assets/js/home/html5shiv.min.js"/>

  <![endif]-->

  </head>

  <body>

  <div id="home"></div>

  </body>
</html>